.wrapper-div-departments {
  /* background-color: aqua; */
  min-height: 100vh;
  max-height: 100%;
  background-color: #f0f0f0;
  width: auto;
  overflow-y: scroll;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.ps-6 {
  padding-inline-start: 1.5rem;
}

.top-div-bottom-departments {
  width: 100%;
  background-color: #b3b3b3;
  display: flex;
}
.left-top-div-bottom-departments {
  width: 50%;

  display: flex;
  align-items: center;
  padding-left: 1.2vw;
}
.left-top-div-bottom-departments h5 {
  text-decoration: underline;
  color: white;
}
.right-top-div-bottom-departments {
  width: 50%;

  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 2vw;
  gap: 1.5vw;
}
.right-top-div-bottom-departments h5 {
  color: white;
}
