.weekend-color {
  color: #ff662f;
}
.table td {
  border-left: none;
  border-right: none;
}
.table td .top-border {
  border-top: 1px solid;
}
.table td .bottom-border {
  border-bottom: 1px solid;
}
