* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.border-lightgreen {
  border: 1px solid #dff9e2;
}
.bg-darkGray {
  background-color: #6d6d6d;
}
.text-green {
  color: #36c449;
}
.text-red {
  color: #ff662f;
}
.text-blue {
  color: #0062af;
}
@media screen and (max-width: 869px) {
  .tab-item-hidden {
    display: none;
  }
  .display-tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;
  }
  .dropdown-tabs {
    display: block;
  }
}
@media screen and (min-width: 1400px) {
  .max-w-41 {
    max-width: 41%;
  }
}
@media screen and (max-width: 800px) {
  .app-scroll {
    overflow-x: auto;
  }
  .app-scroll::-webkit-scrollbar {
    width: 6px !important;
    height: 3px;
  }
  .app-scroll::-webkit-scrollbar-track {
    background: #f1f1f1 !important;
  }

  .app-scroll::-webkit-scrollbar-thumb {
    background: #d5d4d4 !important;
  }

  .app-scroll::-webkit-scrollbar-thumb:hover {
    background: #8b8a8a !important;
  }
}
@media screen and (min-width: 869px) {
  .dropdown-tabs {
    display: none;
  }
}
@media screen and (max-width: 421px) {
  .custom-wrap-420 {
    flex-wrap: wrap;
  }
}
