* {
  padding: 0;
  margin: 0;
}
.logged-in-page {
  display: flex;
  overflow: hidden;
  height: 100vh;
}
.sidebar-holder {
  width: 20%;
  border-right: 1px solid #6d6d6d;
  transition: left 5s ease;
  position: fixed;
  left: 0%;
  top: 0;
  /* transform: translateX(-20%); */
}
.sidebar-holder.openn {
  left: -20%; /* Show sidebar by sliding it into view */
  transform: translateX(0);
  overflow-y: auto;
}
.navbar-home-holder {
  overflow-y: auto;
  overflow-x: hidden;
  width: 80%;
  margin-left: 20%;
  /* transition: margin-left 1s; */
}
.navbar-home-holder-full {
  width: 100%;
  margin-left: 0;
  /* transform: translateX(0); */
}
.navbar-home-holder-full .sidebar-holder {
  left: 0; /* Ensure sidebar stays visible when navbar is pushed */
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #d5d4d4;
}

::-webkit-scrollbar-thumb:hover {
  background: #8b8a8a;
}
@media (max-width: 1079px) {
  .sidebar-holder {
    width: auto;
  }
}
