h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.bg-lightGray1 {
  background-color: #f0f0f0;
}

.pagination-controls button {
  padding: 5px 10px;
  border-radius: 6px;
  border: 1px solid gray;
  cursor: pointer;
}

.pagination-controls button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.hover-effect:hover {
  background-color: #f0f0f0;
}

/* <----- TOP DIV STYLING -----> */

.top-div-teammates {
  /* background-color: white; */
  height: 10%;
  display: flex;
  justify-content: center;
}
.heading-teammates {
  height: 50%;
  width: 40%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.calendar-teammates {
  display: flex;
  gap: 1vw;
}
.right-top-teammates {
  width: 50%;
  /* background-color: red; */
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2vw;
  padding-left: 3vw;
}
.responsive-h4-teammates {
  display: none;
}
.left-top-teammates {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: bisque; */
  width: 50%;
  padding-left: 4vw;
}
.add-teammates {
  height: 45%;
  width: 38%;
  background-color: #6d6d6d;
  color: white;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.4vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.404);
  cursor: pointer;
}
.filter-teammates {
  color: rgb(36, 149, 52);
}
.calendar-responsive-teammates {
  display: none;
}

/* <----- CENTER DIV STYLING -----> */

.center-div-teammates {
  height: 18vh;
  /* background-color: blue; */
  /* border-bottom: 1px solid black; */
}
.center-top-teammates {
  height: 50%;
  display: flex;
  /* background-color: red; */
}

.search-icon {
  background-color: white;
  height: 50%;
  width: 10%;
  border-top-right-radius: 0.3vw;
  border-bottom-right-radius: 0.3vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-teammates {
  /* background-color: brown; */
  height: 100%;
  width: 28%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-teammates input {
  height: 50%;
  border: none;
  outline: none;
  border-top-left-radius: 0.3vw;
  border-bottom-left-radius: 0.3vw;
  padding-left: 0.5vw;
}
.center-top-right-teammates {
  /* background-color: aqua; */
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  gap: 1vw;
  padding-left: 1vw;
}
.center-teammates-filter {
  height: 50%;
  width: 15%;
  background-color: white;
  border-radius: 0.3vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.center-teammates-sort {
  height: 50%;
  width: 15%;
  background-color: white;
  border-radius: 0.3vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.center-bottom-teammates {
  height: 50%;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 4vw;
  /* overflow-x: auto; */
}
.center-bottom-buttons-teammates {
  height: 78%;
  width: 13%;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top-left-radius: 0.4vw;
  border-top-right-radius: 0.4vw;
}
.center-bottom-buttons-teammates h5 {
  font-weight: 400;
  font-size: 1.2vw;
}
