h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.bg-lightGray1 {
  background-color: #f0f0f0;
}

.pagination-controls button {
  padding: 5px 10px;
  border-radius: 6px;
  border: 1px solid gray;
  cursor: pointer;
}

.pagination-controls button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.hover-effect:hover {
  background-color: #f0f0f0;
}

::-webkit-scrollbar {
  width: 6px !important;
  height: 3px;
}
