styles.css .container {
  max-width: 100%;
}
.table-container {
  width: 100%;
  overflow-x: hidden;
}
.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
.table th,
.table td {
  vertical-align: middle;
}
/* .table tbody tr,
table thead tr {
  border: none;
} */
.main-content-holder {
  background-color: #f0f0f0;
}
.pl-2 {
  padding-left: 1rem !important;
}
.right-10 {
  right: 0%;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.p-2 {
  padding: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.fa-trash,
.fa-edit,
.fa-ellipsis-h {
  cursor: pointer;
}
.btn-transparent {
  background-color: transparent !important;

  border: none !important;
  box-shadow: none !important;
}
