.sidebar {
  overflow-y: hidden;
}

.brand {
  padding: 1rem 2rem;
}
.brand-logo-holder {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.logo-name {
  font-size: 1.5rem;
  font-weight: 700;
  color: #6d6d6d;
}
.section {
  padding: 2rem;
}
.section p {
  font-weight: 500;
}
.section.middle-section {
  border-top: 1px solid #6d6d6d;
  border-bottom: 1px solid #6d6d6d;
}

.menu {
  padding: 0;
}
.menu-items {
  display: flex;
  align-items: space-between;
  list-style: none;
  padding: 0.5rem 0;
}

.icon-holder {
  width: 35px;
  color: inherit;
  /* color: red; */
}

.custom-icon {
  font-size: 1.3rem;
  color: inherit !important;
  display: inline-flex;
  justify-content: flex-start;
}

.fa-gear {
  margin-left: -20px;
}
.pl-7 {
  padding-left: 0.7rem;
}
/* .menu-items.active {
  color: red;
} */
.active {
  color: #945a3a !important;
}
/* -------------------------------- */
/* .menu li .svg-inline--fa {
  margin-right: 10px;
} */
@media (max-width: 1171px) {
  .logo-name {
    font-size: 1.3rem;
  }
}
@media (max-width: 1079px) {
  .logo-name {
    display: none;
  }
  .section {
    padding: 1.7rem;
  }
  .section p {
    display: none;
  }
  /* .menu li span {
    display: none;
  } */
  .sidebar-text {
    display: none;
  }
  .icon-holder {
    width: 1.5rem;
  }
  .custom-icon {
    font-size: 1.5rem !important;
    display: flex;
    justify-content: center !important;
  }
}
@media (max-width: 1090px) {
  .sidebar {
    /* width: 10%; */
    min-width: 80px;
  }
}
/* @media (max-width: 800px) {
  .sidebar {
    width: 10%;
    min-width: 80px;
  }
} */
/* .dropdown-toggle::after {
  display: none;
} */
@media (max-width: 460px) {
  .selected-delete-holder {
    gap: 0 !important;
  }
}
