.gradient-bg {
  background: linear-gradient(to right, #777777, #333333);
  /* clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); */
}
.gradient-bg-reverse {
  background: linear-gradient(to right, #333333, #777777);
}

.custom-list {
  counter-reset: list;
  padding-left: 0;
  list-style: none;
}

.custom-list li {
  position: relative;
  padding-left: 120px;
  margin-bottom: 80px;
}

.custom-list li::before {
  content: counter(list);
  counter-increment: list;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 50px;
  border: 1px solid #dee2e6;
}

.text-milky {
  color: rgba(255, 255, 255, 0.735);
}
.border-milky {
  border-bottom: 1px solid rgba(255, 255, 255, 0.735);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.write-animation {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
  width: 100%;
}

.delay-animation {
  animation-delay: 4s;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-up {
  animation: slideUp 1s ease-out forwards;
}

.hidden {
  opacity: 0;
}


/*annimations cursor , landing img */

.cursor{
  background-color: rgb(255, 253, 253) ;
  height:32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999; 
  pointer-events: none; 
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out;
  
}

.custom-cursor-page * {
  cursor: none !important;
}
.my-atropos{
  margin-bottom: 30px;
}


.your-element-class {
  will-change: transform;
}
/* landing css 3d */



.image {
  position: absolute;
  width: 100px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
}


.image-1 {
  left: 0;
  top: 6%;
 
  z-index: 1;
  margin-top: -17px;
  width: 267px;
  margin-left: 19px;
}
.image-2 {
  right: 10px;
  top: 3.5%;
  z-index: 2;
  width: 825px;
  border-top-right-radius: 15%;
  
}
.image-grp {
  right: 25px;
  top: 135px;
  z-index: 2;
  width: 749px;
}
.image-4 {
  right: 16px;
  top: 192px;
  z-index: 2;
  width: 815px;
}

.image-3 {
  right: 35px;
  top: 249px;
  z-index: 2;
  width: 758px;
}
.image-7 {
  right: 423px;
  top: 531px;
  z-index: 2;
  width: 366px;
}

.image-6 {
  right: 50px;
  top: 531px;
  z-index: 2;
  width: 359px;
}
.image-5 {
  right: 53px;
  top: 570px;
  z-index: 2;
  width: 352px;
}


.bg-img {
  width: 1090px !important;
  border-radius: 3%;
  height: 722px;
  box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.25);
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 30px;
}

/* annimations cursor landing image */