.employee-cell {
  display: flex;
  align-items: center;
}

/* .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
} */
.profile-holder {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.profile-holder img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.activity-cell {
  text-align: center;
  vertical-align: middle;
}

.business-trip {
  background-color: #8c98a5 !important; /* Example color for business trip */
  color: white;
}

.sick-leave {
  background-color: #bf8450 !important; /* Example color for sick leave */
  color: white;
}
.out-of-office {
  background-color: #d9d9d9 !important; /* Example color for sick leave */
  color: white;
}
.table thead th {
  border-left: none;
  border-right: none;
  text-align: left;
  padding-left: 0;
}
.table tbody th {
  border-right: 1px solid gray;
}
.table tbody td {
  border-left: none;
  border-right: none;
}
/* .table td {
  text-align: center;
  vertical-align: middle;
  border-right: none;
}  */
* {
  margin: 0;
  padding: 0;
}
.border-1 {
  /* border: 1px solid #d9d9d9; */
  border: 1px solid #f0f0f0;
}
.fs-small {
  font-size: 0.8rem;
}
.width-20 {
  width: 25%;
}
.fs-vsmall {
  font-size: 0.8rem;
}
.day-calandar {
  min-width: 800px;
}
.calendar {
  /* width: 75%; */
  overflow-x: hidden;
}
.calendar-slider {
  overflow-x: auto;
  width: auto;
  height: 100%;
}
::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}
/* .calendar-content {
    width: 2000px;
  } */
/* .employeId {
    width: 100%;
  } */
.activity-holder {
  overflow-x: auto;
  width: auto;
}
.activity {
  line-height: 1.11rem;
  font-size: 1.1rem;
}
.table td {
  border-left: none;
  border-right: none;
}
.table tbody th {
  border-right: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
  /* max-width: 240px; */
  min-width: 240px;
}
.profile-holder {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.profile-holder img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
/* .bg-work {
  background-color: #d9d9d9;
}
.bg-sick {
  background-color: #bf8450;
}
.bg-trip {
  background-color: #8c98a5;
} */
.table thead th {
  min-width: 15rem;
  max-width: 15rem;
  text-align: left;
  padding-left: 0;
  /* padding-top: 0.5rem; */
}

.table tbody td {
  min-width: 7.5rem;
  max-width: 7.5rem;
  padding-right: 0 !important;
}
.sticky-left {
  position: sticky;
  left: 0;
  z-index: 1;
}
